body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
}
h1{
    font-size: 60px;
    }
    .orange-color{
        color: orange;
    }
h2{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 80%;
    padding-left: 10%;
   
}
.half-width-img{
    width: 80%;
}
.link-button{
    text-decoration: none;
  background-image: linear-gradient(yellow,rgb(240, 186, 85));
    padding: 10px 40px;
    color:black;
    font-weight:700;
    border-radius:5px  ;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10%;
}
.half-width-img-2{
    width: 40%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
    
    
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    border-radius: 20px;
    box-shadow:15px 15px 30px gray;
}
#baby-web-dev{
    border-left: 8px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#full-web-dev{
    border-left: 8px solid;
    border-image: linear-gradient(orange,yellow);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
    
